@model IEnumerable<WebApplication1.Models.Gig>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table border="1">
            <tr><td>Id</td><td>Nazwa</td><td>Miejsc</td><td>Pozostało Miejsc</td><td>Data</td></tr>

            @foreach (var gig in Model)
            {
                <tr>
                    <td>@gig.id</td>
                    <td>@gig.name</td>
                    <td>@gig.seats</td>
                    <td>@gig.seats_left</td>
                    <td>@String.Format("{0:D}", gig.gig_date)</td>
                    <td>@Html.ActionLink("Szczegóły", "Show/" + gig.id.ToString(), "Gigs")</td>
            </tr>
            }
        </table>
    </div>
</body>
</html>
